.logo-link {
  text-decoration: none;
}
.demo-logo {
font-size: 72px;
font-weight: 900;
letter-spacing: -2px;
line-height: 100px;
color: #e74c3c;
}
ul.posts {
  list-style-type: none;
}
div.post {
  font-size: 18px;
}
p.meta {
  color: #95a5a6;
}
div.details {
  font-size: 16px;
}
div.details a {
  color: #e74c3c;
}
hr.footer {
  border-top: 1px solid #34495e;
}
