---
layout: default
---
<div class="row">
  <div class="span12">
    <h2>{{ page.title }}</h2>
    <p class="meta">Pubblicato il: {{ page.date | date_to_string }} &dash; {% link_to_city page %} &dash; {% link_to_author page %}</p>
  </div>
</div>

<div class="row">
  <div class="span12 post">
    {{ content }}
    <hr />
  </div>
</div>

<div class="row details">
  <div class="span8">
    <p>{% link_to_calendar page %}</p>
  </div>
  <div class="span4 location">
    <p>{% link_to_map page %}</p>
  </div>
</div>
